{% extends "base.html" %}

{% block title %}Contact - Your Musician Portfolio{% endblock %}

{% block content %}

<h2>Contact Me</h2>

<form action="{{ url_for('contact') }}" method="post">
    <p>Call or text (419) 581-9634</p>
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
    </div>
    <div>
        <label for="message">Message:</label>
        <textarea id="message" name="message" required></textarea>
    </div>
    <div>
        <button type="submit">Send Message</button>
    </div>
</form>

<p>Feel free to get in touch with any questions or booking inquiries!</p>
{% endblock %}