{% extends "base.html" %}

{% block title %}Home - Your Musician Portfolio{% endblock %}

{% block content %}
<h2>Welcome to My Music World</h2>

<div class="video-container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/aX3g2Ge8fSw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

<p>Hello! I'm Patrick, a passionate musician specializing in classic and modern hits.
   This is where I share my music, experiences, and connect with fellow music lovers.</p>
<p>Feel free to explore my bio, listen to my latest tracks, or get in touch!</p>
{% endblock %}
